<launch>
<group ns="zodiac_auto">
    <node pkg="zodiac_autonomous" type="nmea_topic_virtual_serial_reader" name="nmea_topic_virtual_serial_reader" output="screen">
        <param name="port" value="/dev/ttyVUSB1" />
        <param name="baud" value="4800" />
    </node>

    <node pkg="zodiac_autonomous" type="nmea_topic_virtual_serial_writer" name="nmea_topic_virtual_serial_writer" output="screen">
        <param name="port" value="/dev/ttyVUSB2" />
        <param name="baud" value="4800" />
        <param name="protocols" value="$GPRMC,$GPGGA" />
    </node>
    <node pkg="zodiac_autonomous" type="zodiac_autonomous_node" name="zodiac_autonomous_node" output="screen" />
    <!--<node pkg="zodiac_autonomous" type="zodiac_autonomous_py_node" name="zodiac_autonomous_py_node" output="screen" />-->
</group>
</launch>
